<% include partials/header %>
    <aside class="container"></aside>
    <h1><%= title %></h1>
    <div class="col-sm-7 jumbotron">
      <p><%= message %></p>
    </div>  
<% include partials/footer %>   