<!--
 * File Name: index.ejs
 * Author Name: Henrique Oliveira
 * Website Name: Assignment 1 - Express Portfolio Website
 * File Description: homepage; includes buttons with links with more information about me
-->

<% include partials/header %>
<!--Homepage-->
<main class="center" style="margin-left: 200px; margin-right: 200px">
  <div class="section" id="home" style="color:#272746">
    <h5 id="mainText" class="center"><%= title %></h5>
    <h1 class="center"><%= name %></h1>
    <h6 id="mainText" class="center"><%= message %></h6>
  </div>

  <!--Raised Buttons containing links-->
  <div>
    <a
      href="https://github.com/backto1983?tab=repositories"
      target="_blank"
      class="btn-small grey darken-3"
      ><i class="fab fa-github"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/henrique-oliveira-501a5a116"
      target="_blank"
      class="btn-small grey darken-3"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a
      href="https://www.facebook.com/profile.php?id=100005166099272"
      target="_blank"
      class="btn-small grey darken-3"
      ><i class="fab fa-facebook"></i
    ></a>
  </div>
</main>
<% include partials/footer %>
