<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container"></div>
    <h1><%= title %></h1>
    <div class="col-sm-7 jumbotron">
      <p><%= message %></p>
    </div>    
  </body>
</html>
