<!--
 * File Name: services.ejs
 * Author Name: Henrique Oliveira
 * Website Name: Assignment 1 - Express Portfolio Website
 * File Description: contains images to show some of my computer skills
-->

<% include partials/header %>
<!--Skills-->
<main>
  <div class="section" id="skillsets">
    <div class="container">
      <div class="row">
        <h1 class="center" style="color:#272746">Skills</h1>
      </div>
      <!--First Image-->
      <div class="row center">
        <div class="col s12 m12 l4">
          <img class="responsive-img" src="/images/java1.png">
        </div>
        <!--Second Image-->
        <div class="col s12 m12 l4">
          <img class="responsive-img" src="/images/javascript.png">
        </div>
        <!--Third Image-->
        <div class="col s12 m12 l4">
          <img class="responsive-img" src="/images/sql1.png">
        </div>
      </div>
    </div>
  </div>
</main>
<% include partials/footer %>  